extends layout

block layout-content
    .View.FormView
        table(id="formHead")
            tr
                th #{cf}
        br
        form(action=formType method="POST")
            p ID:
                input(type="text" id="id" name="id" placeholder=(ex+recExample.id) value=record.id required)
            p Date:
                input(type="text" id="date" name="date" placeholder=(ex+recExample.date) value=record.date required)
            p Cases:
                input(type="text" id="cases" name="cases" placeholder=ex+recExample.cases value=record.cases required)
            p Deaths:
                input(type="text" id="deaths" name="deaths" placeholder=ex+recExample.deaths value=record.deaths required)
            p NameFR:
                input(type="text" id="fr" name="fr" placeholder=ex+recExample.nameFR value=record.nameFR required)
            p NameEN:
                input(type="text" id="en" name="en" placeholder=ex+recExample.nameEN value=record.nameEN required)
            table
                tr
                    td
                        input(type="submit" name="Submit" value="Submit")
                    td
                        a(href="/" id="cancel") Cancel
        